<h1 align="center"><%= @user.full_name %>'s Profile</h1> <br>
<%#= link_to "Edit your profile", edit_user_registration_path %>
<%#= @user.profile_picture %>
<%#= this here will print out the users posts  %>
<%#= link_to "#{@user.full_name}'s posts", posts_path.user_posts %>
<%#= @user.posts %>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Friends - <%= link_to "Find friends", users_path %></h3>
    </div>
    <div class="panel-body-mailbox">
      <ul>
        <% for friendship in @user.friendships  %>
        <li class="friends">
          <%= link_to friendship.friend.full_name, friendship.friend %>
          <%= link_to " - remove from friends", friendship, :method => :delete %>
        </li>
        <% end %>
      </ul>
      <br>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Followers</h3>
    </div>
    <ul>
      <% for user in @user.inverse_friends  %>
      <li><%= link_to user.full_name, user %></li>
      <% end %>
    </ul>
  </div>
</div>
