<%= form_for(@post) do |f| %>

  <div class='row'>
  <div class="col-lg-4 col-md-4 col-sm-4"><%= f.label 'Choose a picture from your computer' %> <%= f.file_field :picture, class: 'form-control' %></div>
  <div class="col-lg-4 col-md-4 col-sm-4"><%= f.label 'Give the picture a title' %><%= f.text_field :title, class: 'form-control', autofocus: true%></div>
  <div class="col-lg-4 col-md-4 col-sm-4"><%= f.label 'Share some thoughts about the picture' %><%= f.text_area :message, class: 'form-control' %></div>
  </div>
  <p align="center" class="btn-xl"><%= f.submit :post %></p>
<% end %>